%li.list-group-item
  =link_to "X", recurring_payment_path(recurring_payment), class: "badge", method: :delete, data: {confirm: "Are you sure you wish to remove this recurring payment"}
  =IceCube::Rule.from_yaml(recurring_payment.schedule).to_s